.App {
    padding: $smallPadding $bigPadding;
    font-family: "SF Pro Display";
    font-weight: 400;
    box-sizing: border-box;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}