// Colors

$primaryBGColor: #dddddd;
$secondBGColor: #bbbbbb;
$whiteBGColor: #ffffff;
$smallItemsColor: linear-gradient(45deg, yellowgreen,lightgreen);
$userColor: darkseagreen;

// Sizes

$borderRadiusBig: 1rem;
$borderRadiusSmall: 0.5rem;
$normalBtnSize: 1.5rem;
$smallBtnSize: 1rem;
$smallPadding: 0.5rem;
$bigPadding: 1rem;
$opacityValue: 40%;