.board {
    @include flexible( flex-start, flex-start, row, nowrap);
    flex: auto;
    min-height: fit-content;
    height: max-content;
    padding: $bigPadding;
    background-color: $primaryBGColor;
    border-radius: $borderRadiusBig;
    font-family: "SF Pro Display";
    overflow: hidden;
}

.board__to-do--container, .board__in-progress--container, .board__done--container, .modal-window--container {
    @include flexible(flex-start, flex-start, column, nowrap);
    flex: 1;
    height: fit-content;
    padding: $smallPadding;
    border: 3px;
    border-style: ridge;
    border-radius: $borderRadiusBig;
    overflow: hidden;
}

.modal-window--edit {
    cursor: url('../../../img/close-icon.png'), auto;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-window--container {
    display: flex;
    flex: 1;
    min-width: fit-content;
    min-height: fit-content;
    margin: $smallPadding/2;
    background-color: $secondBGColor;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: auto;
}

.modal-window--container .card-form--close-btn {
    display: flex;
    align-items: center;
}

.board__title-bar {
    @include flexible(space-between, center, row, wrap);
    margin-bottom: $smallPadding;
}

.board__title, .board__add-card-btn, .card__add-comment--button, .card--post-comment,
 #deleteInProgressCards, #notDeleteInProgressCards {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    width: max-content;
    padding: $smallPadding $bigPadding;
    background-color: $secondBGColor;
    border-radius: $borderRadiusBig;
    outline: none;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card__add-comment--button {
    margin-top: $smallPadding;
}

.board__title {
    justify-content: space-between;
} 

#to-do-title {
    background: #E1E4E8;
}

#in-progress-title {
    background: #F0E7F6;
}

#done-title {
    background: #CBDFD8;
}

.board--card_counter {
    @include flexible(center, center, row, wrap);
    margin: 0 0 0 $smallPadding;
    padding: 0;
    width: $normalBtnSize;
    height: $normalBtnSize;
    border-radius: 50%;
    background: $smallItemsColor;
    visibility: hidden;
}

.board--delBtn {
    @include flexible(center, center, row, wrap);
    @include noBorderCursor;
    visibility: hidden;
    padding: 0;
    width: $normalBtnSize;
    height: $normalBtnSize;
    background: url('../../../img/delete-btn.svg') no-repeat;
    background-size: contain;
    opacity: $opacityValue;
    border-radius: 50%;
}

.modal-window, .modal-window--edit, .modal-window--confirm {
    display: flex;
    // visibility: hidden;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background:  rgba(0, 0, 0, 0.5);
}

.modal-window, .modal-window--confirm {
    align-items: center;
    overflow-y: auto;
}

.board__cards {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card, .card--comment {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-top: $smallPadding;
    padding: $smallPadding;
    border: 1px solid $secondBGColor;
    border-radius: $borderRadiusSmall;
    background-color: $whiteBGColor;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card--edit-field {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;    
    min-height: $normalBtnSize*2;
    margin-bottom: $bigPadding;
}

.space-between, .confirm-text {
    display: flex;
    margin: 0;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: bolder;
}

.center {
    justify-content: space-evenly;
}

.confirm-text {
    justify-content: center;
    margin: $smallPadding 0 $bigPadding;
    text-shadow: $smallPadding $smallPadding $smallPadding rgba(0,0,0,0.5);
}

.card--title {
    font-weight: bold;
    cursor: text;
}

.card--edit-title, .card--edit-desc, .card--input-comment {
    display: flex;
    margin: 0;
    padding: $smallPadding;
    min-width: 16rem;
    border: 1px solid $secondBGColor;
    border-radius: $borderRadiusSmall;
    background-color: $whiteBGColor;
    outline: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card--desc {
    display: -webkit-box;
    font-size: 0.9rem;
    min-height: 1.8rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: text;
    resize: none;
}

.card--edit-desc, .card--input-comment {
    max-width: 17rem;
    font-size: 0.9rem;
    min-height: 1.8rem;
    overflow: hidden;
    cursor: text;
    resize: none;
}

.card__add-comment {
    display: none;
    flex-direction: column;
}

.card--input-comment {
    display: flex;
    flex-flow: row wrap;
    margin: $smallPadding 0;
}

.card--comment-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card--comment-bottom #usersList {
    margin: 0 $bigPadding 0 0;
}

.card--post-comment {
    display: flex;
}

.card--user, .card--edit-user, .card--author {
    @include noBorderCursor;
    position: absolute;
    margin-top: -$bigPadding*0.85;
    padding: $smallPadding/3 $smallPadding;
    background-color: $userColor;
    border-radius: $borderRadiusSmall;
    font-size: 0.6rem;
    cursor: default;
}

.card--edit-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card--edit-user, .card--author {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    width: fit-content;
}

.card--author {
    margin: 0;
    margin-top: $smallPadding;
}

.card--comment {
    margin: 0;
}

.card--bottom {
    display: flex;
    justify-content: space-between;
    margin-top: $smallPadding/2;
    cursor: text;
}

.card--date, .card--edit-date {
    display: flex;
    width: 66%;
    justify-content: center;
    align-items: center;
    padding: $smallPadding/2 $smallPadding;
    background: $smallItemsColor;
    border-radius: $borderRadiusSmall;
    font-size: 0.6rem;
}

.modal-window--container .card--edit-date {
    width: fit-content;
    margin-right: $bigPadding;
}

.card--comments {
    display: flex;
    flex-flow: column nowrap;
    margin: $smallPadding
}

.card--empty-comment-tooltip, .card--noUser-tooltip {
    display: none;
    margin: 0 0 0 $smallPadding;
    margin-top: -$smallPadding/3;
    color: #f00;
    font-size: 0.8rem;
}

.card--move-btn, .card--delete-btn {
    display: flex;
    @include noBorderCursor;
    width: $smallBtnSize;
    height: $smallBtnSize;
    background: url('../../../img/delete-btn.svg') no-repeat;
    background-size: contain;
    background-color: $whiteBGColor;
    opacity: $opacityValue;
}

.card--move-btn {
    background-image: url('../../../img/right-pointing-arrow.svg');
}

.board__done--container .card--move-btn {
    background: url('../../../img/back-arrow.svg') no-repeat;
}

.card--edit-img {
    @include noBorderCursor;
    display: flex;
    width: $bigPadding *1.5;
    height: $bigPadding *1.5;
    margin-right: $smallPadding/2;
    background: url('../../../img/edit.svg');
    background-repeat: no-repeat;
    background-size: $smallBtnSize;
}

.saveImg {
    background: url('../../../img/check.svg');
    background-size: $smallBtnSize;
    background-repeat: no-repeat;
    opacity: $opacityValue;
    transition: all 0.6s;
}

.board__add-card-btn {
    margin-top: $bigPadding;
    background-color: $primaryBGColor;
    outline: none;
    cursor: pointer;
}

.card-form {
    display: flex;
    flex-direction: column;
    // width: fit-content;
    padding: $bigPadding;
    background: $whiteBGColor;
    border-radius: $borderRadiusBig;
}

label {
    display: flex;
    flex-direction: column;
    color: #555555;
}

.card-form--top-field {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.7*$bigPadding;
}

.card-form--close-btn {
    @include noBorderCursor;
    width: $normalBtnSize;
    height: $normalBtnSize;
    background: url('../../../img/delete-btn.svg') no-repeat;
    background-size: contain;
    opacity: $opacityValue;
}

.card-form--title {
    margin-top: $smallPadding/3;
    padding: $smallPadding;
    border: 1px solid $primaryBGColor;
    border-radius: $borderRadiusSmall;
    min-width: 17rem;
    outline: none;
    cursor: text;
}

.card-form--desc {
    margin-top: $smallPadding/3;
    margin-bottom: $smallPadding;
    padding: $smallPadding;
    border: 1px solid $primaryBGColor;
    border-radius: $borderRadiusSmall;
    outline: none;
    cursor: text;
    resize: none;
}

.card-form--save-btn {
    @include noBorderCursor;
    width: 10rem ;
    max-width: 50%;
    margin-top: $bigPadding;
    margin: 0;
    padding: $smallPadding;
    border-radius: $borderRadiusBig;
    background-color: $primaryBGColor;
}

#usersList {
    margin-top: $smallPadding/3;
    margin-bottom: $smallPadding;
    padding: $smallPadding/2;
    width: max-content;
    border: 1px solid $primaryBGColor;
    border-radius: $borderRadiusSmall;
    font-size: 0.9rem;
    outline: none;
    cursor: pointer;
}

.prev, .next {      /* Slider */
    @include flexible(center, center, row, wrap);
    @include noBorderCursor;
    position: absolute;
    top: 50%;
    width: $smallBtnSize;
    height: 2*$smallBtnSize;
    margin-top: -$smallBtnSize;
    padding: $smallPadding;
    background-color: grey;
    color: $whiteBGColor;
    font-weight: bold;
    font-size: $normalBtnSize;
    transition: 0.6s ease;
    border-radius: 0 $borderRadiusSmall $borderRadiusSmall 0;
    user-select: none;
  }
  
  .prev {
      left: 0;
  }

  .next {
    right: 0;
    border-radius: $borderRadiusSmall 0 0 $borderRadiusSmall;
  }
  
.slider-dots {      /* The dots */
    position: absolute;
    right: 3%;
    top: 2%;
}

.dot {
    cursor: pointer;
    height: $smallBtnSize/2;
    width: $smallBtnSize/2;
    margin: 0 3px;
    background-color: $primaryBGColor;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }